---
title: Colocation of Images & Components
date: 2020-05-04
---

I want to put images in the same folder as my markdown and have them still work at build time.

<img alt="Dale Gribble" src="./_image.jpg" />

https://www.npmjs.com/package/rollup-plugin-copy
